site_name: Documentação do Projeto DUOC
site_description: Visão de Produto e Projeto

theme:
  name: material
  language: pt-BR
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md


